/* NAVBAR */
header {
  position: sticky;
  background-color: peachpuff;

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;

  font-size: 1.3rem;
}

img {
  height: 5rem;
}

nav>li {
  margin: 0 20px;

  list-style: none;

  display: inline-block;
}

nav>li>a {
  text-decoration: none;
}

nav>li>a:hover {
  text-decoration: underline;
}

/* HOME */
#home {
  background-color: papayawhip;
}

/* ISLAND */
#island {
  background-color: papayawhip;
}

#island>h3>a {
  text-decoration: none;
}

#island>ul>li {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

#island>ul>li>img {
  height: 1.5em;
  padding-left: 10px;
}

/* VILLAGERS */
#villagers {
  background-color: papayawhip;
}