.anchor {
  scroll-margin-top: 3rem;
}

/* NAVBAR */
header {
  background-color: peachpuff;

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  height: 6.5vh;
  width: 100%;
  z-index: 1;

  font-size: 1em;
}

.logo {
  height: 5.5vh;

  @media screen and (max-width: 373px) {
    height: 3.5vh;
  }
}

nav>li {
  display: inline-block;
  margin: 0 1.5em;

  list-style: none;
}

nav>li>a {
  color: black;
  text-decoration: none;
}

nav>li>a:hover {
  text-decoration: underline;
}

/* HOME */
#home {
  background-color: papayawhip;
  margin-top: 1rem;
  padding: 5rem;

  text-align: center;
}

/* ISLAND */
#island {
  background-color: papayawhip;
  padding: 3rem;
}



#island>div>img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  object-fit: cover;
  width: 80%;
  height: 30%;
}

#island>ul>li {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

#island>ul>li>img {
  height: 1.5em;
  padding-left: 1rem;
}

/* VILLAGERS */
#villagers {
  background-color: papayawhip;
  padding: 3rem;
}